{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">

<h1>New Breed</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Rank:</p>
		<input type ='text' size='30' name='rank'>
	<p>Photo link:</p>
		<input type ='text' size='30' name='photo'>
	<p>Photo attribution:</p>
		<input type ='text' size='30' name='photo_attribution'>
	<p>Category:</p>
		<input type ='radio' name='category_id' value=7>Herding</br>
		<input type ='radio' name='category_id' value=2>Hound</br>
		<input type ='radio' name='category_id' value=6>Non-Sporting</br>
		<input type ='radio' name='category_id' value=1>Sporting</br>
		<input type ='radio' name='category_id' value=4>Terrier</br>
		<input type ='radio' name='category_id' value=5>Toy</br>
		<input type ='radio' name='category_id' value=3>Working</br>
	</br>


<input type='submit' value='Create'><br>
<a href={{url_for('showCategories')}}>Cancel</a>

</form>

</body>
{% endblock %}
